<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="SystemSuite" verbose="1">

	<test name="System" preserve-order="true">

 		<!-- <groups>
			<run>
				<include name="smoke" />
			</run>
		</groups>  -->
		

	    <packages>
			<package name="com.epam.mailtest" />
		</packages>
        <classes>
        <class name="com.epam.mailtest.YandexTest" />
         </classes>
    </test>
</suite>

<!--

<suite name="tests" allow-return-values="true"
       verbose="10">
<test name="Bing-Search-Sample-Test">
    <parameter name="testInterfaceXML" value="SearchInterface.xml"></parameter>
    <parameter name="testSuiteXML" value="SearchTest.xml"></parameter>
    <groups>
        <run>
            <include name="sample-tests" />
        </run>
    </groups>
    <classes>
        <class name="package.TestFactory" />
    </classes>
</test>
</suite>-->
